version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: panel
      POSTGRES_PASSWORD: panelpass
      POSTGRES_DB: paneldb
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped

  api:
    build: ./apps/api
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://panel:panelpass@postgres:5432/paneldb
      REDIS_URL: redis://redis:6379
      JWT_SECRET: change_me_super_long
      PANEL_PUBLIC_URL: http://localhost:3000
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"

  web:
    build: ./apps/web
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:4000
    depends_on:
      - api
    ports:
      - "3000:3000"

volumes:
  postgres_data:
